/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Local test config for 2026_03_20_PotC single-channel run
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h',
    ]
}

params {
    config_profile_name        = 'Local PotC test'
    config_profile_description = 'Local single-channel PotC test run'

    // Input
    input    = '/Users/eweisbar/Desktop/2026_03_20_PotC/BR00149744_samplesheet.csv'
    barcodes = '/Users/eweisbar/Desktop/2026_03_20_PotC/barcodes.csv'

    // CellProfiler pipelines
    painting_illumcalc_cppipe   = '/Users/eweisbar/Desktop/2026_03_20_PotC/1_CP_Illum.cppipe'
    painting_illumapply_cppipe  = '/Users/eweisbar/Desktop/2026_03_20_PotC/2_CP_Apply_Illum.cppipe'
    painting_segcheck_cppipe    = '/Users/eweisbar/Desktop/2026_03_20_PotC/3_CP_SegmentationCheck.cppipe'
    barcoding_illumcalc_cppipe  = '/Users/eweisbar/Desktop/2026_03_20_PotC/5_BC_Illum.cppipe'
    barcoding_illumapply_cppipe = '/Users/eweisbar/Desktop/2026_03_20_PotC/6_BC_ApplyIllum.cppipe'
    barcoding_preprocess_cppipe = '/Users/eweisbar/Desktop/2026_03_20_PotC/7_BC_Preprocess.cppipe'
    combinedanalysis_cppipe     = '/Users/eweisbar/Desktop/2026_03_20_PotC/9_Analysis.cppipe'
}
